@font-face {
  font-family: "NeueMontreal-Bold"; /* Choose a name for your font family */
  src: local("NeueMontreal-Bold"),
    url("./assets/fonts/NeueMontreal/NeueMontreal-Bold.otf") format("woff");
  /* Specify the path to your font file and its format */
}

@font-face {
  font-family: "NeueMontreal-Medium"; /* Choose a name for your font family */
  src: local("NeueMontreal-Medium"),
    url("./assets/fonts/NeueMontreal/NeueMontreal-Medium.otf") format("woff");
  /* Specify the path to your font file and its format */
}

@font-face {
  font-family: "NeueMontreal-Regular"; /* Choose a name for your font family */
  src: local("NeueMontreal-Regular"),
    url("./assets/fonts/NeueMontreal/NeueMontreal-Regular.otf") format("woff");
  /* Specify the path to your font file and its format */
}

@font-face {
  font-family: "NeueMontreal-Light"; /* Choose a name for your font family */
  src: local("NeueMontreal-Light"),
    url("./assets/fonts/NeueMontreal/NeueMontreal-Light.otf") format("woff");
  /* Specify the path to your font file and its format */
}


body {
  color: #1e1e1e;
  background-color: #EBEBEB;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none; /* Disable text selection */
}

.main-container {
  height: 90%;
  width: 95%;
  border: 2px solid #1e1e1e;
  position: relative;
  overflow: hidden;
}

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2em;
  margin-left: 2em;
  display: inline-block;
}

.navbar-container span {
  font-size: 40px;
  font-weight: bold;
  font-family: "NeueMontreal-Light";
}

.navbar-container p {
  margin-top: 5px;
  font-family: "NeueMontreal-Regular";
}

.navbar {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.navbar li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'NeueMontreal-Bold';
}

.navbar a {
  color: #1e1e1e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #a0a0a0;
}

.navbar .selected {
  pointer-events: none;
}


.courses-container {
  width: 70%; /* Adjust the initial width as needed */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  overflow-y: auto; /* Enable vertical scroll if content exceeds the height */
}

.courses-container div {
  color: #1e1e1e;
  text-align: right;
}

.courses-container a {
  color: #1e1e1e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #a0a0a0;
}

.courses-container::-webkit-scrollbar {
  display: none;
}

.title-container {
  margin-top: 3.1em;
  font-size: 40px;
  font-weight: bold;
  font-family: "NeueMontreal-Light";
  margin-bottom: 0.5em;
}

.course-container {
  display: block; /* Set display to inline-block */
  padding:  15px 0px;
  margin-bottom: 10px;
}

.title {
  font-family: "NeueMontreal-Regular";
  font-size: 18px;
  font-weight: bold;
  color: #1e1e1e;
  letter-spacing: 1px;
}

.course-container span {
  font-family: "NeueMontreal-Light";
  color: #1e1e1e;
  letter-spacing: 1px;
}